<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :horsepower %>
    <%= form.number_field :horsepower %>
  </div>

  <div class="field">
    <%= form.label :mileage %>
    <%= form.number_field :mileage %>
  </div>

  <div class="field">
    <%= form.label :energy %>
    <%= form.text_field :energy %>
  </div>

  <div class="field">
    <%= form.label :gearbox %>
    <%= form.text_field :gearbox %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
