<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Horsepower</th>
      <th>Mileage</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= link_to car.model, car %></td>
        <td><%= car.horsepower %></td>
        <td><%= car.mileage %></td>
        <td><%= car.price %></td>
        <td><%= link_to 'Destroy', car, method: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
