<p id="notice"><%= notice %></p>

<div class="container">
  <h2 class="center">List of offers</h2>
  <div class="offset-3 col-6">
    <% @cars.each do |car| %>
      <div class="car-link">
        <h4><%= link_to car.model, car %></h4>
        <div class="row">
          <div class="col-2">
            <%= image_tag(car.main_picture) %>
          </div>
          <div class="offset-3 col-4">
            <p>horsepower: <%= car.horsepower %> hp</p>
            <p>mileage: <%= car.mileage %> m</p>
            <p>price: <%= car.price %> $</p>
          </div>
        </div>
      </div>      
    <% end %>
  </div>
</div>

<%= link_to 'New Car', new_car_path %>
